/* i_am.css */

.greeting {
  transition: opacity 0.5s;
  z-index: 11;
  font-family: var(--mono-font);
  font-size: xx-large;
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
}
#i_am {
  transform: translate(-50%, -100%);
}

#a_programmer {
  transform: translate(-50%, 0%);
}
