/* grid.css */

.grid-spot {
  align-items: center;
  background-color: white;
  color: white;
  display: flex;
  font-family: var(--mono-font);
  font-size: var(--font-size--xs);
  justify-content: center;
  flex-direction: column;
  transition: background 0.5s;
}

.grid-content {
  height: 100%;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

.grid-content > a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.connection {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.interesting {
  width: 30%;
  height: 30%;
  object-fit: cover;
}

.info {
  font-size: var(--font-size--m);
}
