/* index.css */
:root {
    --sans-font: "Outfit", sans-serif;
    --serif-font: "Noto Serif", serif;
    --mono-font: "courier-std", monospace;

    /* --font-size--xl: 32px;
  --font-size--l: 24px;
  --font-size--m: 20px;
  --font-size--s: 16px;
  --font-size--xs: 12px; */
    --font-size--xl: 2em;
    --font-size--l: 1.5em;
    --font-size--m: 1.25em;
    --font-size--s: 1em;
    --font-size--xs: 0.75em;

    --line-size--thick: 12px;
    --line-size--regular: 8px;
    --line-size--thin: 4px;

    --border-radius--regular: 24px;
}
