/* small_screen.css */
@media (max-width: 768px) {
  .big_screen {
    display: none !important;
  }
  body {
    background-color: black !important;
  }
  .info {
    display: none;
  }
}
