:root {
    --primary-font: "";
}

body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: background-color 0.5s;
}
#tom , #transparenttom{
    border-radius: 50%;
    height: 65vh;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
#tom {
    opacity: 0;
    z-index: 11111;
    transition: opacity 0.5s;
}
#transparenttom {
    z-index: 11110
}

.unselectable {
    -webkit-user-drag: none; /* Chrome, Safari */
    user-drag: none; /* Standard syntax */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Standard syntax */
}

#cursor {
    width: 20vh;
    height: 20vh;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    transition: transform 0.1s ease-out, opacity 0.5s;
    transform: translate(-50%, -50%);
}

#deno {
    display: none;
}

#marcinlowercase {
    color: white;
}
